*{
    padding: 0;
    margin: 0;

}

.navbar{
    background-color: rgb(255, 255, 255);
    display: flex;
   
    
}
.nav{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    border: 1px solid black;
   
}
.nav > a > div{
    padding: 10px;
    height: 60px;
    border: 1px solid black;
    border-top: 0;
    

    
}
.nav > a:hover >div{
   background-color: rgb(243, 233, 179);
   /* box-shadow: 10px 2px 10px 5px gold; */
  border: 2px solid gold;
}
.logo{
    /* margin: 10px; */
    /* margin: 2px; */
    height: 5em;
   background-color: white;

   border: 1px solid black;
   border-right: 2px solid black;
}
.logo:hover{
    border: 0;
    box-shadow: 10px 2px 10px 5px gold;
    /* height: 75px; */
}

.nav > a:last-child >div{
    border-left: 2px solid black;
}
.nav > a:last-child:hover > div{
    border-left: 2px solid gold;
}



.header{
    margin-top: 3%;
}


.container{
    margin: 5%;
    margin-top: 3%;
}

.resume{
    padding: 10px;
    border: 3px solid black;
    margin: auto;
}
.resume:hover{
    border: 3px solid gold;
}

form{
    display: flex;
    flex-wrap: wrap;
    /* display: inline; */
    justify-content: center;
   
}

 input{
    padding: 10px;
    margin: 10px 2% 10px 2%;
    width: 200px;
    height: 20px;
}


 textarea{
    padding: 10px;
    margin: 10px 2% 10px 2%;
    width: 200px;
    height: 20px;
}



.add{
    text-align: center;
    height: 10px;
    width: 15px;
    border-radius: 40px;
    border-color: gold;
    padding: 10px 20px 20px 10px;

}

#div1 {
    width: 100%;
}

#div2{
    width: 100%;
}
#div3{
    width: 100%;
}
#div4{
    width: 100%;
}
#button{
    height: 40px;
    border-radius: 40px;
    border-color: gold;
}
a{
    text-decoration: none;
    
}
